JAX-RPC-Contract_First_Approach/WebContent/WEB-INF/Hello.wsdl


<wsdl:definitions targetNamespace="http://service.nareshit.com"
	xmlns:impl ="http://service.nareshit.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap ="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd ="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<schema elementFormDefault="qualified" targetNamespace="http://service.nareshit.com"
			xmlns = "http://www.w3.org/2001/XMLSchema">
			<element name="name" type="xsd:string" />
			<element name="sayHelloReturn" type="xsd:string" />
		</schema>
	</wsdl:types>

	<wsdl:message name="sayHelloResponse">
		<wsdl:part element="impl:sayHelloReturn" name="sayHelloReturn">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="sayHelloRequest">
		<wsdl:part element ="impl:name" name="name">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="IHelloService">
		<wsdl:operation name ="sayHello" parameterOrder ="name">
			<wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">
			</wsdl:input>
			<wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="HelloServiceImplSoapBinding" type="impl:IHelloService">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sayHello">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="sayHelloRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="sayHelloResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Hello">
		<wsdl:port binding="impl:HelloServiceImplSoapBinding"  name="IHelloService">
			<wsdlsoap:address
				location="http://localhost:2222/JAX-RPC-Contract_First_Approach"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>