AxisServiesProvider/WebContent/wsdl/BookServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.nareshit.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.nareshit.com" xmlns:intf="http://service.nareshit.com" xmlns:tns1="http://dmain.nareshit.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.nareshit.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dmain.nareshit.com"/>
   <element name="searchBook">
    <complexType>
     <sequence>
      <element name="isbn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchBookResponse">
    <complexType>
     <sequence>
      <element name="searchBookReturn" type="tns1:Book"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://dmain.nareshit.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Book">
    <sequence>
     <element name="author" nillable="true" type="xsd:string"/>
     <element name="isbn" nillable="true" type="xsd:string"/>
     <element name="price" nillable="true" type="xsd:double"/>
     <element name="title" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchBookResponse">

      <wsdl:part element="impl:searchBookResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchBookRequest">

      <wsdl:part element="impl:searchBook" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BookServiceImpl">

      <wsdl:operation name="searchBook">

         <wsdl:input message="impl:searchBookRequest" name="searchBookRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchBookResponse" name="searchBookResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookServiceImplSoapBinding" type="impl:BookServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="searchBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchBookRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchBookResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookServiceImplService">

      <wsdl:port binding="impl:BookServiceImplSoapBinding" name="BookServiceImpl">

         <wsdlsoap:address location="http://localhost:2525/AxisProject/services/BookServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
